.skills__list {
  display: grid;
  margin: auto;
  margin-top: 1rem;
  justify-items: start;
  gap: 1rem 2rem;
  max-width: min-content;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.skills__item {
  display: flex;
  gap: 1rem;
  /* \/ \/ \/ Applies only to dark theme icon without colored class */
  color: var(--color-primary-alt);
}

.skills__icon {
  color: var(--color-primary-alt);
  font-size: var(--size-3xl);
}

.skills__name {
  font-size: var(--size-base);
  font-weight: var(--font-medium);
  align-self: center;
}

/* Pop out (hover) effect on skill items */
@media (hover: hover) {
  .skills__name {
    transform-origin: 0%;
    transition: transform 0.3s;
  }

  .skills__icon {
    transform-origin: 100%;
    transition: transform 0.3s;
  }
  
  .skills__item:hover .skills__name,
  .skills__item:hover .skills__icon {
    transform: scale(1.25);
  }
}

/* xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}
/* md */
@media (min-width: 768px) {
  .skills__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* lg */
@media (min-width: 1024px) {
  .skills__name {
    font-size: var(--size-lg);
  }

  .skills__icon {
    font-size: var(--size-4xl);
  }
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}